<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">To Do</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="d-flex flex-column w-100 mb-0">
      <div class="d-md-flex d-block flex-nowrap">
        <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed" [isAnimated]="true">
      
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fa fa-home mr-1"></i>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-list mr-1"></i>List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-plus mr-1"></i>Create</a>
            </li>
          </ul>
      
          <ul class="navbar-nav">
            <form class="form-inline">
              <div class="form-group mb-2">
                <input type="text" class="form-control" id="staticEmail2" placeholder="Email">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-outline-success ml-1 mb-2">Log In</button>
            </form>
          </ul>
      
        </div>
      </div>
    </div>
  
  </nav>