<div class="container mt-5">
    <div class="card-header">
        <h1 class="text-left">
            Your To Do's
            <i (click)="newTodoCard()" tooltip="Add To Do" placement="auto" container="body" 
                style=" float: right; cursor: pointer; color: #007bff" 
                class="fa fa-plus mt-2">
            </i>
        </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-3">

        <div *ngFor="let item of todoCardList" class="col">
            <div *ngIf="item" class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header bg-dark py-3" >
                    <h4 (input)="onTitleChange($event.target.innerHTML)" contenteditable="true" class="my-0 fw-normal" 
                        style="text-align:left; color: white; display: inline-block;">
                        {{item.title}}
                    </h4>
                    <i (click)="updateTodoCardTitle(item)" 
                        class="fa fa-floppy-o" style="cursor:pointer; color: white; position:absolute; top: 25px; left: 10px"></i>
                    <i (click)="deleteTodoCard(item.id)" tooltip="Remove" placement="auto" 
                        container="body" style="color:rgb(209, 28, 28); position: absolute; cursor: pointer; top: 25px; right: 10px" 
                        class="fa fa-trash fa-lg"></i>
                </div>
                <div class="card-body">
                    <ul *ngFor="let todo of item.toDoItem" class="list-unstyled mt-3 mb-4">
                        <li *ngIf="todo" style="text-align: left;" class="zoom card-header shadow-sm px-1">
                            
                            <i (click)="changeCheckAttribute(item.id, todo.id)" *ngIf="todo.check" style="color:#007bff; cursor: pointer;" 
                                class="fa fa-check-square-o mr-1"></i>
                            <i (click)="changeCheckAttribute(item.id, todo.id)" *ngIf="!todo.check" style="cursor: pointer;" 
                                class="fa fa-square-o mr-1"></i>
                            <span [ngStyle]="{'text-decoration': todo.check ? 'line-through' : ''}">{{todo.title}}</span>
                            
                            <i (click)="changeImportantAttribute(item.id, todo.id)" tooltip="Remove from important" 
                                placement="auto" container="body" *ngIf="todo.important" 
                                style="color: rgb(206, 206, 0); float: right; cursor: pointer;" class="fa fa-star"></i>

                            <i (click)="changeImportantAttribute(item.id, todo.id)" tooltip="Add to important"
                                placement="auto" container="body" *ngIf="!todo.important" 
                                style="float: right; cursor: pointer;" class="fa fa-star-o"></i>

                                <div>
                                    <i *ngIf="todo.date" class="fa fa-calendar-check-o mr-1"></i>{{todo.date}}
                                    <i (click)="deleteTodoItem(item.id, todo.id)" tooltip="Remove" placement="auto" 
                                        container="body" style="color:rgb(209, 28, 28); float: right; cursor: pointer;" class="fa fa-trash"></i>
                                </div>
                            

                        </li>
                    </ul>
                    <button routerLink="/todos/{{item.id}}" type="button" class="w-100 btn btn-lg btn-outline-primary">View Details</button>
                </div>
            </div>
        </div>
    </div>
</div>