<!--Container for wellcome to the application new users-->
<ng-container *ngIf="!isLoggedin">
    <div class="container mt-5">
        <h1 class="text-center">Wellcome to <strong>To Do - Never Late</strong></h1>
        <p class="text-center">It looks like you don't have an account <a routerLink="/login"><strong>login</strong></a>
            or <a routerLink="/register"><strong>sign up</strong></a> now!</p>
        <div class="card mt-5">
            <div class="card-header">
                <h2 class="text-center">Demo of the application</h2>
            </div>
            <div class="card-body p-0 m-0">
                <app-todo-item></app-todo-item>
            </div>

        </div>
    </div>
</ng-container>

<!--Container for wellcome to the application existing users-->
<ng-container *ngIf="isLoggedin">
    <app-list-todo></app-list-todo>
</ng-container>