<!--Container for wellcome to the application new users-->
<ng-container *ngIf="!isLoggedin">
    <div class="container mt-5">
        <h1 class="text-center">Wellcome to <strong>To Do - Never Late</strong></h1>
        <p class="text-center">It looks like you don't have an account <a routerLink="/login"><strong>login</strong></a>
            or <a routerLink="/register"><strong>sign up</strong></a> now!</p>
    </div>
</ng-container>

<!--Container for wellcome to the application existing users-->
<ng-container *ngIf="isLoggedin">
    <app-list-todo></app-list-todo>
</ng-container>